{% load static%}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'paginaweb/css/style.css'%}">

</head>
<body>





    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <img src=" {%static 'paginaweb/img/Sin título-1 - copia.png'%}" style="width: 80px;" alt="">
            <a a class="navbar-brand " href="#"> Green Space </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Productos
                </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{%url 'mulchoficial'%}">Mulch</a></li>
                            <li><a class="dropdown-item" href="{%url  'sustrato'%}">Sustratos</a></li>
                            <li>

                            </li>
                            <li><a class="dropdown-item" href="{%url  'compost'%}">Compostas</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#section2">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#section4">Contacto</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" href="{% url  'agregar' %}">Agregar</a>
                    </li>

                    <li class="nav-item">
                        <a class="btn btn-success active" href="{% url 'cuenta'%}">Iniciar sesión</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>


 <!-- formulario agregar producto-->

 <br><br><br><br><br><br><br>
 <div class="row">
     <div class="col-12 col-md-6 offset-md-3">

       <div class="card">
           <div class="card-body">
               <br><br>
<h2>Agregar Nuevo Producto</h2>

<form action="" method="POST" enctype="multipart/form-data">

    {% csrf_token %}

    {{form | crispy }}


    <br>
<div>
    <p class="alert alert-success">{{ mensaje }}</p>
</div>


<div class="d-flex justify-content-end">
    <a href="{% url 'listadopro'%}" class="btn btn-danger" style="width: 100px ; height: 50px;">Cancelar</a>
    &nbsp;
   
    <input type="submit" class="btn btn-primary" id="enviar" value="Enviar" style="width: 100px">
    
    
</div>
</form>


           </div>
       </div>
     </div>
 </div>   






 <!--footer- pie de pagina-->

 <footer class="footer">

    <div class="container first">
        <div class="row">
            <div class="col-md">
                <div class="footer1">
                    <img src="  {%static 'paginaweb/img/logo png.png'%}" style="width: 200px;" alt="">
                </div>

            </div>
            <div class="col-md">
                <div class="footer2">

                    <h3>GREEN<span>SPACE</span></h3>

                    <p class="footer-links">
                        <a href="index.html">Inicio</a> |
                        <a href="productos.html">Compra</a> |
                        <a href="cuenta.html">Cuenta</a> |
                        <a href="contacto.html">Contacto</a>
                    </p>

                    <p class="footer-company-name">© 2019 Eduonix Learning Solutions Pvt. Ltd.</p>
                </div>
            </div>
            <div class="col-md">
                <div class="footer3">




                    <p>Viña del mar, Valparaiso.</p> <br>
                    <p>
                        <a href="./nuevo header/api.html"> Álvarez - 2339</a></p><br>
                    <p>+56 9-27782183</p><br> <br>
                    <p> <a href="mailto:support@eduonix.com">support@eduonix.com</a></p>


                </div>
            </div>
        </div>
    </div>


</footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>


</body>
</html>